@use "../themes";

.notion__table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  padding-bottom: 80px;
  font-family: "Work Sans", sans-serif;
  h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
  }
  .active {
    border-bottom: solid 2px themes.$dark-font-primary;
    color: themes.$dark-font-primary;
    font-weight: 600;
    transition: all 0.3s ease-out;
    font-size: 16px;
  }
  .normal {
    color: themes.$dark-font-primary;
    transition: all 0.3s ease-out;
    font-weight: 400;
    font-size: 16px;
    color: #000;
  }
  .tab__buttons {
    margin: 10px 0;
    margin-bottom: 20px;
  }
  .active {
    border-bottom: solid 2px #4531c2;
    color: #000;
    font-weight: 600;
  }
  button {
    background-color: transparent;
    border: none;
    padding: 8px 10px;
    margin: 0px 24px;
  }
  .tab__content {
    width: 1200px;
    display: grid;
    grid-template-columns: 600px 600px;
    font-family: "Work Sans", sans-serif;
  }
  img {
    width: 600px;
    border-radius: 10px;
  }
  .notion__content__half__right {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
    h3 {
      font-size: 28px;
      margin: 0;
      font-weight: 500;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      text-align: end;
    }
    a {
      font-weight: 500;
      width: 100%;
      text-align: end;
    }
  }
}

.notion__table--color--dark {
  transition: all 0.3s ease-out;
  background-color: themes.$dark-primary-bg;
  color: themes.$dark-font-primary;
  .active {
    border-bottom: solid 2px themes.$dark-font-primary;
    color: themes.$dark-font-primary;
    font-weight: 600;
    transition: all 0.3s ease-out;
  }
  .normal {
    color: themes.$dark-font-primary;
    transition: all 0.3s ease-out;
  }
  .notion__content__half__right {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.3s ease-out;
    a {
      color: themes.$dark-font-primary;
      width: 100%;
      text-align: end;
    }
  }
}
.notion__table--white--dark {
  transition: all 0.3s ease-out;
  background-color: themes.$dark-bg;
  color: themes.$dark-font-primary;
  .active {
    border-bottom: solid 2px themes.$dark-font-primary;
    color: themes.$dark-font-primary;
    font-weight: 600;
    transition: all 0.3s ease-out;
  }
  .normal {
    color: themes.$dark-font-primary;
    transition: all 0.3s ease-out;
  }
  .notion__content__half__right {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.3s ease-out;
    a {
      transition: all 0.3s ease-out;
      color: themes.$dark-font-primary;
      width: 100%;
      text-align: end;
    }
  }
}
.notion__table--color--light {
  transition: all 0.3s ease-out;
  background-color: #4531c2;
  color: themes.$dark-font-primary;
  .active {
    border-bottom: solid 2px themes.$dark-font-primary;
    color: themes.$dark-font-primary;
    font-weight: 600;
    transition: all 0.3s ease-out;
  }
  .normal {
    color: themes.$dark-font-primary;
    transition: all 0.3s ease-out;
  }
  .notion__content__half__right {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.3s ease-out;
    justify-content: center;
    a {
      color: themes.$dark-font-primary;
      width: 100%;
      text-align: end;
      transition: all 0.3s ease-out;
    }
  }
}
.notion__table--white--light {
  transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 1200px) {
  .notion__table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    padding-bottom: 80px;
    h2 {
      text-align: center;
      font-size: 32px;
    }
    .tab__buttons {
      margin: 10px 0;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .active {
      border-bottom: solid 2px #4531c2;
      font-weight: 600;
    }
    button {
      background-color: transparent;
      border: none;
      padding: 8px 10px;
      margin: 0px 24px;
    }
    .tab__content {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .notion__content__half__right {
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 28px;
      }
      p {
        font-size: 14px;
        text-align: center;
      }
      a {
        color: #000;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .notion__table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    padding-bottom: 80px;
    h2 {
      text-align: center;
      font-size: 32px;
    }
    .tab__buttons {
      margin: 10px 0;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .active {
      border-bottom: solid 2px #4531c2;
      font-weight: 600;
    }
    button {
      background-color: transparent;
      border: none;
      padding: 8px 10px;
      margin: 0px 24px;
    }
    .tab__content {
      width: 95%;
      display: column;
    }
    .notion__content__half__right {
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 28px;
      }
      p {
        font-size: 14px;
        text-align: center;
      }
      a {
        color: #000;
        width: 100%;
        text-align: center;
      }
    }
    .notion__content__half__left {
      img {
        width: 100%;
      }
    }
  }
}
