@use "../themes";
.footer {
  padding-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  padding-bottom: 30px;
}

.footer--dark {
  background-color: themes.$dark-bg-secondary;
}

.bugra__logo {
  height: 50px;
  margin: 0;
}
.quote {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 60px;
}
.copyright {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 5px 0;
  margin-bottom: 10px;
  text-align: center;
}

.footer__social__media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  a {
    margin: 0 10px;
  }
  img {
    height: 35px;
  }
}

.footer--dark {
  background-color: themes.$dark-bg;
  color: themes.$dark-font-primary;
  transition: all 0.3s ease-out;
  .footer__social__media {
    background-color: themes.$light-bg-secondary;
    padding: 10px;
    border-radius: 10px;
  }
}

.footer--light {
  background-color: themes.$light-bg;
  color: themes.$light-font-primary;
  transition: all 0.3s ease-out;
  .footer__social__media {
    background-color: themes.$light-bg;
    padding: 10px;
    border-radius: 10px;
  }
}
