@use "../themes";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// Main Header Component
.home__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  .header__text {
    padding: 0 75px;
    h1 {
      font-size: 24px;
      font-weight: 300;
      font-family: "Lato", sans-serif;
      letter-spacing: -1px;
    }
    h2 {
      font-size: 40px;
      font-weight: 500;
      font-family: "Lato", sans-serif;
      width: 400px;
      letter-spacing: -1px;
      text-align: start;
    }
  }
  img {
    height: 300px;
    width: 300px;
    border-radius: 500px;
  }
}

.home__header--dark {
  background-color: themes.$dark-bg;
  color: themes.$dark-font-primary;
  transition: all ease-out 0.3s;
}
.home__header--light {
  background-color: themes.$light-bg;
  color: themes.$light-font-primary;
  transition: all ease-out 0.3s;
}
// Purple Containers
.purple__rectangle {
  height: 150px;
  width: 100%;
  background-color: themes.$primary;
  margin: 0;
  margin-top: -150px;
  transition: all 0.3s ease-out;
}
// Subheader Component
.subheader {
  height: 450px;
  width: 100%;
  background-color: themes.$primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  h3 {
    margin-top: 100px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: themes.$background;
    text-align: center;
    letter-spacing: -1px;
  }
  p {
    text-align: center;
    margin-top: 0px;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 500px;
    color: themes.$background;
  }
}
.subheader--dark {
  background-color: themes.$dark-primary-bg;
  transition: all 0.3s ease-out;
  h3 {
    color: themes.$dark-font-primary;
    transition: all 0.3s ease-out;
  }
  p {
    color: themes.$dark-font-primary;
    transition: all 0.3s ease-out;
  }
}
.subheader--light {
  background-color: themes.$light-primary-bg;
  transition: all 0.3s ease-out;
  h3 {
    color: themes.$dark-font-primary;
    transition: all 0.3s ease-out;
  }
  p {
    color: themes.$dark-font-primary;
    transition: all 0.3s ease-out;
  }
}
// My Abilities Component
.abilities {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .abilities__container {
    background-color: themes.$background;
    max-width: 1000px;
    align-items: center;
    justify-content: stretch;
    display: flex;
    margin-top: -150px;
    margin-bottom: -20px;
    z-index: 5;
    //border: solid 2px themes.$border;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    .abilities__half {
      width: 100%;
      height: 810px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      .abilities__half__content {
        width: 100%;
        padding: 0 30px;
        height: 810px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .icon__container {
          display: flex;
          align-items: center;
          justify-content: center;
          transform: scale(4.5);
          color: themes.$primary;
        }
        div {
          height: 20px;
          margin: 100px 0;
          transform: scale(6);
        }
        h1 {
          font-size: 28px;
          margin: 0;
          margin-bottom: 20px;
          font-family: "Lato", sans-serif;
          font-weight: 600;
        }
        p {
          font-size: 18px;
          margin: 0;
          text-align: center;
          margin-bottom: 10px;
          font-family: "Lato", sans-serif;
          font-weight: 300;
        }
        h2 {
          font-size: 22px;
          font-weight: 400;
          margin-top: 40px;
          margin-bottom: 20px;
          font-family: "Lato", sans-serif;
        }
      }
      .divider {
        height: 700px;
        border: solid 1px themes.$border;
        margin: 0;
        padding: 0;
        width: 0;
      }
    }
  }
}

.abilities--dark {
  background-color: themes.$dark-bg;
  transition: all 0.3s ease-out;
  .abilities__container {
    background-color: themes.$dark-bg;
    border: solid 2px themes.$dark-border;
    transition: all 0.3s ease-out;
    .abilities__half {
      .abilities__half__content {
        color: themes.$dark-font-primary;
        transition: all 0.3s ease-out;
        .icon__container {
          color: themes.$dark-font-purple;
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}

.abilities--light {
  background-color: themes.$light-bg;
  transition: all 0.3s ease-out;
  .abilities__container {
    background-color: themes.$light-bg;
    border: solid 2px themes.$light-border;
    transition: all 0.3s ease-out;
    .abilities__half {
      .abilities__half__content {
        color: themes.$light-font-primary;
        transition: all 0.3s ease-out;
        .icon__container {
          color: themes.$light-font-purple;
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}
// Recent Works Component

.recent__works {
  .recent__works__container {
    background-color: themes.$primary;
    margin: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
    h1 {
      color: themes.$background;
      font-weight: 500;
      margin-top: 80px;
      margin-bottom: 40px;
      letter-spacing: -1px;
    }
    div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      max-width: 1100px;
      margin-bottom: 80px;
      background-color: themes.$primary;
      .recent__works__item {
        max-width: 500px;
        min-width: 400px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 250px;
        background-color: themes.$background;
        margin: 10px;
        border-radius: 10px;
        text-decoration: none;
        transition: all 0.4s ease-out;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
        .works__logo {
          max-width: 75%;
          object-fit: contain;
          max-height: 75%;
          transition: all 0.4s ease-out;
          margin: 0;
        }
        .close {
          position: absolute;
          width: 400px;
          height: 250px;
          object-fit: contain;
          opacity: 0;
          overflow: hidden;
        }
        .show {
          background-color: themes.$primary;
          height: 100%;
          border: solid 2px themes.$border;
          border-radius: 10px;
          color: themes.$background;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 18px;
          font-weight: 300;
          width: 100%;
          p {
            width: 80%;
          }
        }
      }
    }
  }
  .recent__works__buttons {
    margin: 0;
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
    }
    p {
      height: 80px;
      width: 300px;
      background-color: themes.$background;
      border: solid 2px transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 50px;
      padding: 0;
      border-radius: 50px;
      text-decoration: none;
      transition: all 0.3s ease-out;
      font-size: 20px;
      color: #4531c2;
      font-weight: 400;
      font-family: "Work Sans", sans-serif;
      letter-spacing: -1px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    }
    p:hover {
      color: themes.$background;
      background-color: themes.$primary-hover;
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
      transition: all 0.3s ease-out;
    }
  }
}
.recent__works--dark {
  background-color: themes.$dark-primary-bg;
  transition: all 0.3s ease-out;
  .recent__works__container {
    background-color: themes.$dark-primary-bg;
    transition: all 0.3s ease-out;
    h1 {
      color: themes.$dark-font-primary;
      transition: all 0.3s ease-out;
    }
    div {
      background-color: themes.$dark-primary-bg;
      transition: all 0.3s ease-out;
      .recent__works__item {
        background-color: themes.$dark-bg;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-out;
        .show {
          background-color: themes.$dark-bg;
          border: solid 2px themes.$dark-border;
          color: themes.$background;
          transition: all 0.3s ease-out;
        }
      }
    }
  }
  .recent__works__buttons {
    p {
      background-color: themes.$dark-primary-bg;
      transition: all 0.3s ease-out;
      color: themes.$dark-font-purple;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    }
    p:hover {
      color: themes.$dark-font-secondary;
      background-color: themes.$dark-bg-secondary-hover;
      transition: all 0.3s ease-out;
    }
  }
}
.recent__works--light {
  transition: all 0.3s ease-out;
  .recent__works__container {
    transition: all 0.3s ease-out;

    h1 {
      transition: all 0.3s ease-out;
    }
    div {
      transition: all 0.3s ease-out;
      .recent__works__item {
        transition: all 0.3s ease-out;
        .show {
          transition: all 0.3s ease-out;
        }
      }
    }
  }
  .recent__works__buttons {
    p {
      transition: all 0.3s ease-out;
    }
    p:hover {
      transition: all 0.3s ease-out;
    }
  }
}
// Other Projects Component
.other__projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  margin-top: -40px;
  h1 {
    font-weight: 500;
    letter-spacing: -2px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .projects__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 850px;
    z-index: 2;
    .projects__item {
      width: 380px;
      padding: 25px 10px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 10px;
      //border: solid 2px themes.$border;
      margin: 10px;
      background-color: themes.$background;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);

      h2 {
        font-size: 24px;
        letter-spacing: -1.5px;
        font-weight: 400;
        text-align: center;
      }
      p {
        font-size: 17px;
        letter-spacing: -1px;
        font-weight: 300;
        text-align: center;
        max-width: 360px;
      }
      a {
        font-size: 17px;
        letter-spacing: -1px;
        font-weight: 400;
        text-align: center;
        color: themes.$primary;
      }
    }
  }
}

.other__projects__container--dark {
  background-color: themes.$dark-bg;
  color: themes.$dark-font-primary;
  transition: all 0.3s ease-out;
  h1 {
    font-weight: 500;
    letter-spacing: -2px;
    margin-top: 80px;
    margin-bottom: 40px;
    transition: all 0.3s ease-out;
  }
  .projects__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 850px;
    z-index: 2;
    transition: all 0.3s ease-out;
    .projects__item {
      background-color: themes.$dark-primary-bg;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      color: themes.$dark-font-secondary;
      transition: all 0.3s ease-out;
      h2 {
        font-size: 24px;
        letter-spacing: -1.5px;
        font-weight: 400;
        text-align: center;
        transition: all 0.3s ease-out;
      }
      p {
        font-size: 17px;
        letter-spacing: -1px;
        font-weight: 300;
        text-align: center;
        max-width: 360px;
        transition: all 0.3s ease-out;
      }
      a {
        font-size: 17px;
        letter-spacing: -1px;
        font-weight: 400;
        text-align: center;
        color: themes.$dark-font-secondary;
        transition: all 0.3s ease-out;
      }
    }
  }
  .purple__rectangle {
    background-color: themes.$dark-primary-bg;
    transition: all 0.3s ease-out;
  }
}
.other__projects__container--light {
  transition: all 0.3s ease-out;
  h1 {
    transition: all 0.3s ease-out;
  }
  .projects__items {
    transition: all 0.3s ease-out;
    .projects__item {
      transition: all 0.3s ease-out;
    }
  }
  .purple__rectangle {
    transition: all 0.3s ease-out;
  }
}
// Newsletter Form Component
.newsletter__form {
  background-color: themes.$primary;
  height: 500px;
  margin-top: -22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  color: themes.$background;
  h2 {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -1px;
    margin: 0;
  }
  h4 {
    font-size: 18px;
    font-weight: 300;
    max-width: 400px;
    text-align: center;
    letter-spacing: -1px;
    margin: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    label {
      display: flex;
      flex-direction: column;
      width: 30vw;
      align-items: center;
      justify-content: center;
      margin-bottom: 0px;
      font-weight: 300;
      max-width: 750px;
      margin: 0;
      margin-top: 20px;
    }
    input {
      margin: 0;
      margin-top: 10px;
      background-color: themes.$background;
      border: 1px solid themes.$border;
      border-radius: 5px;
      height: 40px;
      font-weight: 400;
      font-size: 14px;
      width: 400px;
      padding: 0 25px;
    }
    .button {
      background-color: themes.$primary;
      font-weight: 300;
      font-size: 14px;
      color: themes.$background;
      border: solid 2px themes.$background;
      border-radius: 10px;
      outline: 0px;
      text-align: center;
      justify-content: center;
      cursor: pointer;
      text-decoration: none;
      width: 200px;
      align-self: center;
      height: 50px;
      transition: all 0.4s ease-out;
      margin-top: 40px;
    }
    :last-child {
      flex-direction: row;
      a {
        color: #f2f2f2;
      }
    }
  }
}

.newsletter__form--dark {
  background-color: themes.$dark-primary-bg;
  color: themes.$dark-font-primary;
  transition: all 0.3s ease-out;
  form {
    input {
      margin: 0;
      margin-top: 10px;
      background-color: themes.$dark-primary-bg;
      border: 2px solid themes.$dark-bg;
      color: themes.$dark-font-primary;
      transition: all 0.3s ease-out;
    }
    .button {
      background-color: themes.$dark-bg-secondary-hover;
      color: themes.$dark-font-primary;
      border: solid 2px themes.$dark-border;
      transition: all 0.3s ease-out;
    }
    :last-child {
      flex-direction: row;
      transition: all 0.3s ease-out;
      a {
        color: themes.$dark-font-primary;
        transition: all 0.3s ease-out;
      }
    }
  }
}

.newsletter__form--light {
  transition: all 0.3s ease-out;
  form {
    input {
      transition: all 0.3s ease-out;
    }
    .button {
      transition: all 0.3s ease-out;
    }
    :last-child {
      transition: all 0.3s ease-out;
      a {
        transition: all 0.3s ease-out;
      }
    }
  }
}

// Coffee Component
.coffee {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: themes.$primary;
  .coffee__border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 820px;
    margin-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
  }
  h3 {
    margin: 0;
    padding-top: 70px;
    color: themes.$background;
    font-size: 28px;
    font-weight: 600;
  }
  h4 {
    color: themes.$background;
    font-size: 20px;
    font-weight: 300;
    margin: 16px;
  }
  a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: #000;
    background-color: themes.$background;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 1rem;
    font-size: 24px;
    transition: all 0.2s ease-out;
    border: solid 2px themes.$background;
    background-color: transparent;
    color: themes.$background;
    &:hover,
    &:active,
    &:focus {
      transition: all 0.2s ease-out;
      background-color: themes.$background;
      color: themes.$primary;
    }
    img {
      height: 2.6vh;
      box-shadow: none;
      border: none;
      vertical-align: middle;
    }
    span {
      margin-left: 15px;
      font-size: 1rem;
      vertical-align: middle;
      font-weight: 600;
    }
  }
}
.coffee--dark {
  background-color: themes.$dark-primary-bg;
  color: themes.$dark-font-primary;
  transition: all 0.3s ease-out;
  .coffee__border {
    background-color: themes.$dark-primary-bg;
    color: themes.$dark-font-primary;
    transition: all 0.3s ease-out;
    h3,
    h4 {
      text-align: center;
      transition: all 0.3s ease-out;
    }
  }
  .purple__rectangle {
    background-color: themes.$dark-primary-bg;
    transition: all 0.3s ease-out;
  }
}
.coffee--light {
  background-color: themes.$light-primary-bg;
  color: themes.$light-font-primary;
  transition: all 0.3s ease-out;
  .coffee__border {
    background-color: themes.$light-primary-bg;
    color: themes.$light-font-primary;
    transition: all 0.3s ease-out;
    h3,
    h4 {
      text-align: center;
      transition: all 0.3s ease-out;
      color: themes.$dark-font-primary;
    }
    a {
      color: themes.$dark-font-primary;
      background-color: themes.$light-primary-bg;
    }
  }
}

@media screen and (max-width: 1000px) {
  // Main Header Component
  .home__header {
    flex-direction: column-reverse;
    h1,
    h2 {
      text-align: center;
    }
  }
  // Coffee Container
  .coffee {
    .coffee__border {
      max-width: 820px;
      width: 96%;
    }
  }
}
@media screen and (max-width: 820px) {
  // Main Header Component
  .home__header {
    width: 100%;
    .header__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h1,
    h2 {
      width: 90%;
      text-align: center;
    }
    h2 {
      font-size: 32px;
    }
  }
  // Subheader Component
  .subheader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3,
    p {
      margin: 0;
      width: 90%;
    }
    h3 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 140px;
    }
  }
  // Coffee Component
  .coffee {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .coffee__border {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3,
      h4 {
        text-align: center;
      }
    }
  }

  // My Abilities Component
  .abilities {
    width: 100%;
    .abilities__container {
      flex-direction: column;
      width: 90%;
      padding-bottom: 40px;
      h1 {
        margin-top: -40px;
      }
    }
    .divider {
      display: none;
    }
  }
  // Recent Works Component
  .recent__works {
    .recent__works__items {
      width: 95%;
    }
    .recent__works__buttons {
      flex-direction: column;
      .recent__works__a {
        margin-bottom: 20px;
        .recent__works__button {
          margin-bottom: 10px;
        }
      }
    }
  }
  // Other Projects Component
  .projects__items {
    width: 95%;
    .projects__item {
      padding: 0 10px;
    }
  }
  // Newsletter Form Component
  .newsletter__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2,
    h4 {
      text-align: center;
      width: 90%;
    }
    form {
      width: 100%;
      label {
        width: 100%;
        input {
          width: 75%;
          max-width: 400px;
        }
      }
    }
  }
}
