@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.home__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  img {
    height: 300px;
    width: 300px;
    border-radius: 500px;
  }
}

.header__text {
  margin: 0 75px;
  h1 {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    letter-spacing: -1px;
  }
  h2 {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    width: 400px;
    letter-spacing: -1px;
    text-align: start;
  }
}

.purple__section {
  height: 450px;
  width: 100%;
  background-color: #4531c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  h3 {
    margin-top: 100px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
  }
  p {
    text-align: center;
    margin-top: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 500px;
    color: #fff;
  }
}

.podcast__newsletter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.abilities {
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.abilities__container {
  width: 750px;
  height: 750px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  border: solid 2px #ddd;
  z-index: 5;

}

.abilities__half {
  width: 374px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  padding: 20px;
  z-index: 5;

  h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    letter-spacing: -1px;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    letter-spacing: -1px;
  }
}

.icon__container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(4.5);
  color: #4531c2;
}

.recent__works__rectangle {
  height: 150px;
  width: 100%;
  background-color: #4531c2;
  margin: 0;
  margin-top: -150px;
}
.recent__works__container {
  background-color: #4531c2;
  margin: 0;
  margin-top: -22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  h1 {
    color: #fff;
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 40px;
    letter-spacing: -1px;
  }
  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 850px;
    margin-bottom: 80px;
    background-color: #4531c2;
  }
}

.recent__works__item {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.4s ease-out;
}

.close {
  position: absolute;
  width: 400px;
  height: 250px;
  object-fit: contain;
  opacity: 0;
  overflow: hidden;
}
.show {
  background-color: #4531c2;
  height: 210px;
  width: 360px;
  border: solid 2px #fff;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  font-weight: 300;
}

.recent__works__buttons {
  margin: 0;
  margin-top: -40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
  }
  p {
    height: 80px;
    width: 300px;
    background-color: #fff;
    border: solid 2px #4531c2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 50px;
    padding: 0;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease-out;
    font-size: 20px;
    color: #4531c2;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -1px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  p:hover {
    color: #fff;
    background-color: #604ce0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-out;
  }
}

.other__projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  h1 {
    font-weight: 500;
    letter-spacing: -2px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .projects__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 850px;
    z-index: 2;
  }
  .projects__item {
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 2px #4531c2;
    margin: 10px;
    background-color: #fff;
  }
  .projects__item h2 {
    font-size: 24px;
    letter-spacing: -1.5px;
    font-weight: 400;
    text-align: center;
  }
  .projects__item p {
    font-size: 17px;
    letter-spacing: -1px;
    font-weight: 300;
    text-align: center;
    max-width: 360px;
  }
  .projects__item__link {
    font-size: 17px;
    letter-spacing: -1px;
    font-weight: 400;
    text-align: center;
    color: #4531c2;
  }
}

.two__section {
  background-color: #4531c2;
  height: 500px;
  margin-top: -22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  h2 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: -1px;
  }
  h4 {
    font-size: 18px;
    font-weight: 300;
    max-width: 400px;
    text-align: center;
    letter-spacing: -1px;
  }
}

form {
  display: flex;
  flex-direction: column;
}

li {
  display: none;
}

label {
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  font-weight: 300;
  height: 60px;
  max-width: 750px;
}

input {
  margin-top: 10px;
  background-color: #f6f6f6;
  border: 1px solid #242424;
  border-radius: 5px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  width: 400px;
  padding: 0 25px;
}
.button {
  background-color: #4531c2;
  font-weight: 300;
  font-size: 14px;
  color: white;
  border: solid 2px #fff;
  border-radius: 10px;
  outline: 0px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  width: 200px;
  align-self: center;
  height: 50px;
  transition: all 0.4s ease-out;
  margin-top: 40px;
}

.works__logo {
  max-width: 75%;
  object-fit: contain;
  max-height: 75%;
  transition: all 0.4s ease-out;
  margin: 0;
}

.coffee {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #4531c2;
  .coffee__border{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 750px ;
    border: solid 2px #fff;
    margin-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
  }
  h3 {
    margin: 0;
    padding-top: 70px;
    color: #fff;
    font-size: 28px;
    font-weight: 400;
  }
  h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
  }
  a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 1rem;
    font-size: 24px;
    transition: all 0.2s ease-out;
    border: solid 2px #fff;
    background-color:transparent;
    color: #fff;
    &:hover,
    &:active,
    &:focus {
      transition: all 0.2s ease-out;
      background-color: #fff;
      color: #4531c2;
    }
    img {
      height: 2.6vh;
      box-shadow: none;
      border: none;
      vertical-align: middle;
    }
    span {
      margin-left: 15px;
      font-size: 1rem;
      vertical-align: middle;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 1000px) {
  .home__header {
    flex-direction: column-reverse;
  }
  .header__h1,
  .header__h2 {
    text-align: center;
  }
  .coffee {
    .coffee__border {
      width: 96%;
    }
  }
}

@media screen and (max-width: 768px) {
  .home__header {
    width: 100%;
    .header__text{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h1, h2 {
      width: 90%;
      text-align: center;
    }
    h2 {
      font-size: 32px;
    }
  }
  .purple__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3, p {
      margin: 0;
      width: 90%;
    }
    h3 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 100px;
    }
  }

  .coffee{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .coffee__border {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3, h4 {
        text-align: center;
      }
    }
  }
  .abilities__container {
    flex-direction: column;
    height: 1500px;
    width: 90%;
  }

  .abilities__divider {
    display: none;
  }
  .abilities__half {
    width: 95%;
  }

  .subheader__p,
  .subheader__h3 {
    width: 95%;
  }
  .header__text {
    margin: 0;
  }
  .header__h2 {
    width: 95%;
  }

  .recent__works__items {
    width: 95%;
  }
  .recent__works__buttons {
    flex-direction: column;
  }
  .recent__works__button {
    margin-bottom: 10px;
  }
  .projects__items {
    width: 95%;
  }
  .recent__works__a {
    margin-bottom: 20px;
  }
  .projects__item {
    padding: 0 10px;
  }
  label {
    width: 95%;
  }
  input {
    width: 225px;
  }

  .two__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2, h4 {
      text-align: center;
      width: 90%;
    }
  }
}
