@use "../themes";

.notion__header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  img {
    height: 275px;
    margin: 0 50px;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
  }
  h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -2px;
    margin: 0;
  }
  h2 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -2px;
    margin: 10px 0;
  }
  h3 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -1px;
    max-width: 350px;
  }
}
.notion__header__container--dark {
  background-color: themes.$dark-bg;
  color: themes.$dark-font-primary;
  transition: all 0.3s ease-out;
}
.notion__header__container--light {
  transition: all 0.3s ease-out;
}
.notion__community__container {
  font-family: "Work Sans", sans-serif;
  background-color: #4531c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  h2 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1px;
    margin-top: 50px;
  }
  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #fff;
    margin-bottom: 50px;
  }
}
.notion__community--dark {
  background-color: themes.$dark-primary-bg;
  color: themes.$dark-font-primary;
  transition: all 0.3s ease-out;
  a {
    transition: all 0.3s ease-out;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #fff;
    margin-bottom: 50px;
  }
}

.notion__community--light {
  transition: all 0.3s ease-out;
}
.notion__community--light {
  transition: all 0.3s ease-out;
  a {
    transition: all 0.3s ease-out;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #fff;
    margin-bottom: 50px;
  }
}

.notion__community--light {
  transition: all 0.3s ease-out;
}

.notion__table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  padding-bottom: 80px;
  h2 {
    text-align: center;
    font-size: 32px;
  }
  .tab__buttons {
    margin: 10px 0;
    margin-bottom: 20px;
  }
  .active {
    border-bottom: solid 2px #4531c2;
    font-weight: 600;
  }
  button {
    background-color: transparent;
    border: none;
    padding: 8px 10px;
    margin: 0px 24px;
  }
  .tab__content {
    width: 1200px;
    display: grid;
    grid-template-columns: 600px 600px;
  }
  img {
    width: 600px;
    border-radius: 10px;
  }
  .notion__content__half__right {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h3 {
      font-size: 28px;
    }
    p {
      font-size: 18px;
      text-align: end;
    }
    a {
      color: #000;
      width: 100%;
      text-align: end;
    }
  }
}

.notion__table--color--dark {
  transition: all 0.3s ease-out;
  background-color: themes.$dark-primary-bg;
  color: themes.$dark-font-primary;
  .active {
    border-bottom: solid 2px themes.$dark-font-primary;
    color: themes.$dark-font-primary;
    font-weight: 600;
    transition: all 0.3s ease-out;
  }
  .normal {
    color: themes.$dark-font-primary;
    transition: all 0.3s ease-out;
  }
  .notion__content__half__right {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.3s ease-out;
    a {
      color: themes.$dark-font-primary;
      width: 100%;
      text-align: end;
    }
  }
}
.notion__table--white--dark {
  transition: all 0.3s ease-out;
  background-color: themes.$dark-bg;
  color: themes.$dark-font-primary;
  .active {
    border-bottom: solid 2px themes.$dark-font-primary;
    color: themes.$dark-font-primary;
    font-weight: 600;
    transition: all 0.3s ease-out;
  }
  .normal {
    color: themes.$dark-font-primary;
    transition: all 0.3s ease-out;
  }
  .notion__content__half__right {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.3s ease-out;
    a {
      transition: all 0.3s ease-out;
      color: themes.$dark-font-primary;
      width: 100%;
      text-align: end;
    }
  }
}
.notion__table--color--light {
  transition: all 0.3s ease-out;
  background-color: #4531c2;
  color: themes.$dark-font-primary;
  .active {
    border-bottom: solid 2px themes.$dark-font-primary;
    color: themes.$dark-font-primary;
    font-weight: 600;
    transition: all 0.3s ease-out;
  }
  .normal {
    color: themes.$dark-font-primary;
    transition: all 0.3s ease-out;
  }
  .notion__content__half__right {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.3s ease-out;
    a {
      color: themes.$dark-font-primary;
      width: 100%;
      text-align: end;
      transition: all 0.3s ease-out;
    }
  }
}
.notion__table--white--light {
  transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.notion__videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  background-color: #4531c2;
}
.notion__videos--dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: themes.$dark-font-primary;
  font-family: "Work Sans", sans-serif;
  background-color: themes.$dark-primary-bg;
  transition: all 0.3s ease-out;
}
.notion__videos--light {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  transition: all 0.3s ease-out;
}

.video__desc {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video__desc__h1 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -2px;
}

.video__desc__h3 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -1px;
  max-width: 500px;
  text-align: center;
  margin-bottom: 50px;
}

.video__desc__h2 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 0px;
}

.video {
  width: 450px;
  height: 250px;
  margin: 20px 10px;
  border-radius: 10px;
  border: solid 2px #ddd;
}

.notion__white--light {
  height: 150px;
  margin-top: -125px;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s ease-out;
}
.notion__white--dark {
  height: 150px;
  margin-top: -125px;
  width: 100%;
  background-color: themes.$dark-bg;
  transition: all 0.3s ease-out;
}
@media screen and (max-width: 1200px) {
  .notion__header__container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1,
      h2,
      h3 {
        text-align: center;
        width: 95%;
      }
    }
  }

  .notion__community__container {
    width: 100%;
    text-align: center;
    h2,
    a {
      width: 95%;
    }
  }
  .notion__table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    padding-bottom: 80px;
    h2 {
      text-align: center;
      font-size: 32px;
    }
    .tab__buttons {
      margin: 10px 0;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .active {
      border-bottom: solid 2px #4531c2;
      font-weight: 600;
    }
    button {
      background-color: transparent;
      border: none;
      padding: 8px 10px;
      margin: 0px 24px;
    }
    .tab__content {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .notion__content__half__right {
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 28px;
      }
      p {
        font-size: 14px;
        text-align: center;
      }
      a {
        color: #000;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
      }
    }
  }
  .notion__videos {
    width: 100%;
  }
  .video__desc__h2 {
    width: 95%;
    text-align: center;
  }
  .video__desc {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .video {
    width: 90%;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .notion__header__container {
    flex-direction: column;
    width: 95%;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1,
      h2,
      h3 {
        text-align: center;
        width: 95%;
      }
    }
  }

  .notion__community__container {
    width: 100%;
    text-align: center;
    h2,
    a {
      width: 95%;
    }
  }
  .notion__table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    padding-bottom: 80px;
    h2 {
      text-align: center;
      font-size: 32px;
    }
    .tab__buttons {
      margin: 10px 0;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .active {
      border-bottom: solid 2px #4531c2;
      font-weight: 600;
    }
    button {
      background-color: transparent;
      border: none;
      padding: 8px 10px;
      margin: 0px 24px;
    }
    .tab__content {
      width: 95%;
      display: column;
    }
    .notion__content__half__right {
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 28px;
      }
      p {
        font-size: 14px;
        text-align: center;
      }
      a {
        color: #000;
        width: 100%;
        text-align: center;
      }
    }
    .notion__content__half__left {
      img {
        width: 100%;
      }
    }
  }
  .notion__videos {
    width: 100%;
  }
  .video__desc__h2 {
    width: 95%;
    text-align: center;
  }
  .video__desc {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .video {
    width: 90%;
    height: 200px;
  }
}
